.book_container {
  width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}
.book_title {
  font-size: 22px;
  font-weight: 500;
  color: #333;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
transition: 300ms;
transform: scale(0.7);
}
.book_wrapper {
  width: 1200px;
  /* overflow: hidden; */
  /* position: relative; */
  margin: 0 auto;
  min-width: 1200px;
  background-color: #f0ede7;
  border-radius: 8px;
  margin: 10px 0;
  padding: 20px 0;
}
.swiper-slide-active,.swiper-slide-duplicate-active{
  transform: scale(1);
}
