/* 移除默认的边距和内边距 */  
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, textarea, input, select, button {  
  margin: 0;  
  padding: 0;  
}  

/* 设置默认的字体大小和行高 */  
body {  
  font-size: 16px;  
  line-height: 1.5;  
  font-family: Arial, sans-serif;  
  overscroll-behavior-y: none;  
}  